@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:ital,opsz,wght@0,9..144,900;1,9..144,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fraunces", serif;
}

p,
a {
  font-family: "Barlow", sans-serif;
}

p {
  line-height: 1.5;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.showcase {
  background-image: url("../../images/desktop/image-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 40rem;
}
.showcase__nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}
.showcase__list {
  display: flex;
  list-style: none;
  gap: 1rem;
}
.showcase__list-link {
  color: white;
  text-decoration: none;
  padding: 0.75rem 2rem;
  border-radius: 20rem;
}
.showcase__list-link:hover {
  background-color: #55c5fd;
}
.showcase__heading {
  font-size: 3rem;
  margin-top: 4rem;
  text-align: center;
  color: white;
}
.showcase__arrow {
  display: flex;
  justify-content: center;
  margin-top: 7rem;
}
.showcase__arrow-icon {
  height: 6rem;
}

.tiles__wrapper {
  display: flex;
  min-height: 30rem;
}
.tiles__wrapper-content {
  padding: 7rem 10vw 5rem;
  flex-grow: 0.5;
  flex-basis: 50%;
}
.tiles__wrapper-content-h1 {
  color: hsl(212deg, 27%, 19%);
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.tiles__wrapper-content-p {
  color: hsl(213deg, 9%, 39%);
  margin-bottom: 2rem;
}
.tiles__wrapper-content-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  position: relative;
}
.tiles__wrapper-content-btn::before {
  content: "";
  position: absolute;
  display: block;
  height: 0.5rem;
  width: 115%;
  border-radius: 20rem;
  transform: translateX(-7.5%);
  background-color: hsl(51deg, 100%, 49%);
  bottom: 0;
  z-index: -1;
}
.tiles__wrapper-image {
  flex-grow: 0.5;
  flex-basis: 50%;
  background-image: url("../../images/desktop/image-transform.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 2rem;
}
.tiles__wrapper-image--egg {
  background-image: url("../../images/desktop/image-transform.jpg");
}
.tiles__wrapper-image--cup {
  background-image: url("../../images/desktop/image-stand-out.jpg");
}
.tiles__wrapper-image--cherry {
  background-position: top;
  background-image: url("../../images/desktop/image-graphic-design.jpg");
}
.tiles__wrapper-image--orange {
  background-position: top;
  background-image: url("../../images/desktop/image-photography.jpg");
}
.tiles__wrapper-image-h1 {
  color: hsl(198deg, 62%, 26%);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.tiles__wrapper-image-p {
  color: hsl(198deg, 62%, 26%);
  max-width: 20rem;
  text-align: center;
}

.testimonials {
  padding: 10rem 2rem;
}
.testimonials__heading {
  text-align: center;
  letter-spacing: 0.25rem;
  color: hsl(210deg, 4%, 67%);
  margin-bottom: 5rem;
}
.testimonials__wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 2rem;
}
.testimonials__wrapper > div {
  max-width: 20rem;
}
.testimonials__wrapper-img {
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  margin-bottom: 3rem;
}
.testimonials__wrapper-desc {
  margin-bottom: 3rem;
  color: hsl(213deg, 9%, 39%);
}
.testimonials__wrapper-name {
  font-family: "Fraunces", serif;
  color: hsl(212deg, 27%, 19%);
}
.testimonials__wrapper-role {
  color: hsl(212deg, 27%, 19%);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.gallery img {
  width: 100%;
  height: 30rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  padding: 3rem 2rem;
  background-color: hsl(168deg, 34%, 41%);
  text-align: center;
}
.footer__logo {
  margin-bottom: 2rem;
}
.footer__list {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 2rem;
  margin-bottom: 3rem;
}
.footer__list-link {
  color: hsl(167deg, 40%, 24%);
  text-decoration: none;
}

@media (max-width: 768px) {
  .showcase__list {
    display: none;
  }
  .tiles__wrapper {
    flex-direction: column;
    min-height: 50rem;
    text-align: center;
  }
  .tiles__wrapper-content {
    padding: 7rem 4rem 5rem;
  }
  .tiles__wrapper-image {
    height: 20rem;
    flex-basis: auto;
  }
  .tiles__wrapper-image--egg {
    order: -1;
  }
  .testimonials__wrapper {
    flex-direction: column;
    align-items: center;
  }
  .gallery {
    grid-template-columns: 1fr 1fr;
  }
  .gallery img {
    height: auto;
  }
}/*# sourceMappingURL=task1.css.map */