* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: royalblue;
}

section {
  width: 30rem;
  margin: 0 auto;
}

section form {
  margin-top: 5rem;
}
.search {
  position: relative;
  width: 100%;
}
.search input {
  width: 100%;
  border: 1px solid rgb(167, 167, 167);
  padding: 0.5rem 0.25rem 0.5rem 1.5rem;
  border-radius: 0.25rem;
}
.search button {
  position: absolute;
  left: 0.5rem;
  top: 0;
  height: 100%;
  border: none;
  cursor: pointer;
  background: transparent;
  transition: transform 200ms linear;
}
.search button:focus {
  outline: none;
}

.search button:hover {
  transform: translateY(-0.15rem);
}
