* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

.parent {
  display: grid;

  /* grid-template-columns: 200px 200px 200px; */
  /* grid-template-columns: 20% 20% 20%; */
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); */
  /* grid-template-columns: repeat(3, minmax(400px, 1fr)); */
  /* grid-template-columns: 1fr 2fr 1fr; */
  /* grid-template-columns: repeat(3, 1fr); */

  /* grid-template-rows: 1fr 1fr 1fr; */

  /* grid-auto-rows: 500px; */

  /* justify-items: center;
  align-items: center;
  justify-items: start;
  align-items: end; */

  /* align-items: center; */
  /* align-content: center; */
  /* justify-content: center; */
  /* grid-template-columns: 1fr 1fr 1fr; */
  background-color: lightgrey;
  gap: 1rem;
  margin: 2rem;
  min-height: 40rem;
  font-size: 1.5rem;
  max-width: 80rem;
  grid-template-areas:
    'header header header'
    'sidebar box box'
    'sidebar box2 box2';
}

.parent__child-1 {
  grid-area: header;
  /* -1 = paskutinis stulpelis/eilute */
  /* grid-column-start: 1; */
  /* grid-column-end: -1; */
  /* grid-column: 1 / 3; */
  /* grid-column: span 2; */

  /* rows */
  /* grid-row-start: 1; */
  /* grid-row-end: 3; */

  /* grid-row: 2; */
  /* grid-row: span 3; */

  /* grid-row: span 2; */

  background-color: teal;
}

.parent__child-2 {
  grid-area: sidebar;
  /* grid-row: span 3; */
  /* align-self: center;
  justify-self: center; */
  background-color: tomato;
}

.parent__child-3 {
  grid-area: box;
  background-color: black;
  color: white;
}

.box {
  /* max-width: 10rem; */
  min-height: 10rem;
}
