@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

:root {
  --violet: hsl(263, 55%, 52%);
  --white: hsl(0, 0%, 100%);
  --blue: hsl(217, 19%, 35%);
  --dark-blue: hsl(219, 29%, 14%);
  --gray: hsl(0, 0%, 81%);
  --gray-blue: hsl(210, 46%, 95%);

  /* font weights */

  --fw-500: 500;
  --fw-600: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cards {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-blue);
}

.cards__container {
  width: 100%;
  max-width: 80rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
  padding: 0 2rem;
  gap: 2rem;
}

.cards__article {
  border-radius: 0.5rem;
  padding: 1rem 2rem;
}

.cards__arctile-container {
  display: flex;
  gap: 1rem;
}

.cards__image {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  outline: 1px solid var(--gray);
  object-fit: contain;
}

/* ================================ */
/* Modifiers */
/* ================================ */

.cards__article--violet {
  grid-column: span 2;
  background-color: var(--violet);
}

.cards__article--blue {
  background-color: var(--blue);
}

.cards__article--white {
  grid-row: span 2;
  background-color: var(--white);
}

.cards__article--second-white {
  background-color: var(--white);
}

.cards__article--dark-blue {
  grid-column: span 2;
  background-color: var(--dark-blue);
}
